# Porta do backend
PORT=3000

# URL do frontend publicado
CLIENT_ORIGIN=https://seu-frontend.netlify.app

# Supabase
SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_ANON_KEY=SUA_CHAVE_ANON
SUPABASE_SERVICE_ROLE_KEY=SUA_CHAVE_SERVICE_ROLE

# Ambiente
NODE_ENV=production
